@charset "utf-8";
/* CSS Document */
* { margin: 0;
padding: 0;
border: 0;
font-family: tahoma,arial,verdana,sans-serif,Lucida Sans;
}

a { 
    text-decoration: none;
} 
#page {
    position: fixed;
    width: 100%;
    bottom: 0px;
    top: 0px;
    min-height: 600px;
    min-width: 500px;
    overflow: auto; 
    width: 80%;
    margin: 0px auto 0px 10%;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.5);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.5);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.5);
}


#page #acc-panel {
	width: 235px;
    position: relative;
    height: 100%;
    background-color: #42658b;
    float: left;
    position: absolute; 
}

#acc-panel #userblock
{
	height: 40px;
    font: 700 12px / 22px Tahoma;
    width: 235px;
    position: absolute;
}

#userblock #ava {
    height: 40px;
    width: 40px;
    display: block-inline;
    float: left;
}

#userblock span {
    display: block-inline;
    padding: 50px 0 0 14px;
    height: 40px;
    line-height: 40px;
    color: #e8eff7;
    
}

#acc-panel #gl {
	width: 235px;
	overflow-y: auto;
    background-color: #4f7195;
    position: absolute;
    top: 40px;
    bottom: 0px;
    min-height: 400px;
}

.gblock {
	height: 30px;	
	padding: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.gblock:hover {
	background-color: #42658B;
}

.gblock-selected {
	background-color: #42658B;
}

.gblock-pic {
	width: 20px;
    height: 20px;
	padding: 5px;
	float: left;
	display:block-inline;
}

.gtitle {
	font: 700 11px / 13px Tahoma;
    color: #e8eff7;
    padding-right: 15px;
}

#acc-panel #stat {
    background-color: #42658b;
    width: 235px;
    font: 700 10px / 13px Tahoma;
    color: #e8eff7;
    position: absolute;
    bottom: 0px;
    height: 60px;
}

#stat ul {
	list-style:none;
    margin: 3px 19px;
}

#page #group-panel{
	height: 100%;
	background-color: #FFFFFC;
}

#group-panel #group-head {
	height: 60px;
    background-color: #e9edf1;
    position: absolute;
    left: 235px;
    right: 0px;
}

#group-head #g-info
{ display: inline-block;}

#group-head span {
	color: #42658b;
    font: 700 12px / 22px Tahoma;
    padding: 5px;
    width: 300px;
    margin-left: 65px;
    display: block
}

#group-head p {
    color: #777777;
    font: 700 11px / 13px Tahoma;
    margin-left: 70px;
}

#group-head #logo {
	float: left;
    display: inline-block;
	height: 60px;
    width: 60px;
}

#group-head #sort {
    color: #42658b;
    font: 700 12px / 22px Tahoma;
    width: 110px;
    float: right;
    margin: 5px 20px 0 0;
    
}

#group-panel #group-content {
    position: absolute;
    left: 235px;
    top: 60px;
    right: 0px;
    bottom: 60px;
    padding: 10px;
}


#group-content #group-table {
    min-height: 400px;
    position: relative;
    width: 100%;
    height: 100%;
}

.ablock {
    height: 100px;
    width: 105px;
	float: left;
    background-color: #E9EDF1;
    font-size: 11px;
	color: #2B587A;
    margin: 0 10px;
    margin-bottom: 20px;
}

.ablock-pic {
    height: 50px;
	display: block;
	max-width: 100%;
    margin: 0 auto;
}

.ablock div {
    font: 700 11px Tahoma;
    color: #777777;
    padding-left: 10px;
    margin-top: 1px;
}

.ablock div span {
    height: 10px;
    margin: 0 2px;
    padding-right: 1px;
    width: 11px;line-height: 15px;
    vertical-align: middle;
    display: inline-block;
}

.likes-icon {
    background: url(Like-Icon-copy.png) no-repeat;
    margin-top: 1px;
}

.rep-icon {
    background: url(Repost-Icon-copy.png) no-repeat;
    background-size: contain;
    margin-bottom: 1px;
}

.coms-icon {
    background: url(Comment-Icon-copy.png) no-repeat;
    background-size: contain;
}

#sort span {
    height: 15px;
    width: 15px;
    line-height: 15px;
    vertical-align: bottom;
    margin-left: 8px;
    padding-top: 0;
    opacity: 0.4;
    display: inline-block;
}
#sort a:hover span {
    opacity: 1;
}

#sort span.active-sort {
    opacity: 1;
}

#sort .slike {
    background: url(Like-Icon-sort.png) no-repeat;
}

#sort .scom {
    background: url(Comment-Icon-sort.png) no-repeat;
}

#sort .srep {
    background: url(Repost-Icon-sort.png) no-repeat;
}

#nav-bottom {    
    height: 60px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    left: 235px;
    background-color: #fff;
}

a.button {
    float: right;
    display: inline-block;
    opacity: 0.9;
    width: 105px;
    height: 30px;
    background-color: #6383a8;
    color: #e8eff7;
    font: 700 12px / 13px Tahoma;
    text-decoration: none;
    margin: 15px 20px 15px 0;
    line-height: 28px;
    text-align: center;
}

#nav-bottom a.button:hover {
    opacity: 1;
}

#nav-bottom a.button-disabled {
    float: right;
    display: inline-block;
    background-color: #e9edf1;
    color: #909192;
}


#land {
    width: 930px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -450px;
}

#slideshow {
    float: left;
    width: 600px;
    height: 400px;
}

#slideshow div {
    width: 600px;
    height: 400px;
}

#slideshow div img {
    display: none;
    height: 400px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.78);
    -moz-box-shadow:    0px 0px 4px 0px rgba(50, 50, 50, 0.78);
    box-shadow:         0px 0px 4px 0px rgba(50, 50, 50, 0.78);
}

#slideshow #slide-nav {
    display: block;
    width: 600px;
    background-color: #42658b;
    height: 28px;
}

#slide-nav ol
{
    list-style: none;   
    float: right;
    margin-right: 10px;
    height: 28px;
}

#slide-nav ol li{
    display: inline-block;
    background: url(Ellipse-1-copy.png);
    width: 8px;
    height: 8px;
}

#slide-nav ol li.slide-active {
    
    background: url(Ellipse-1-copy-3.png);}

#slide-nav ol li:hover{
    background: url(Ellipse-1-copy-3.png);
}

img.slide-1 {
    display: block !important;
}

#serv-info{
    margin-left: 650px;
    height: 400px;
    font: 700 11px / 18px Tahoma;
}

#serv-info div {
    height: 370px;
    color: #e9ecf1;
}

#serv-info div h3 {
    margin-bottom: 10px;
    text-align: center;
}

#serv-info div p {
    margin-bottom: 10px;
}

a.auth-button {
    margin: 0px auto !important;
    float: none  !important;
    display: block !important;
    background-color: #42658b !important;
    width: 120px !important;
}

/* updates 21.01 */
#progress {
    float: left;
    margin: 24px;
    font: 700 11px/12px Tahoma;
    color: #777;
}

#overlap {
    height: 100%;
    width: 100%;
    max-height: 100%;
    position: fixed;
    z-index: 9998;
    top: 0px;
    left: 0px;
    background-color: #000;
    opacity: 0.4;
    display: none;
}

#beer-modal {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 9999;
    height: 300px;
    width: 300px;
    background-color: white;
    margin: -150px 0 0 -150px;
    display: none;
}

#beer {
    background: url(payment.png) no-repeat;
    position: fixed;
    right: 0px;
    bottom: 0px;
    height: 22px;
    width: 22px;
}

/* updates 23.01 */

#recommend {
    position: relative;
    width: 400px;
    left: 20%;
    border: 2px solid #4f7195;
    padding: 15px;
}

#rec-info {
    font: 700 15px / 15px Tahoma;
    color: #777;
    margin-bottom: 20px;
}

.gtitle-dark {
    color: #777;
    font: 700 11px / 13px Tahoma;
}

.gblock-dark {
    height: 30px;
    padding: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gblock-dark-selected {
    background-color: #dfdfdf;
}

.gblock-dark:hover {
    background-color: #dfdfdf;
}

#rec-stat {
    font: 700 15px / 15px Tahoma;
    color: #777;
    margin-top: 20px;
}
