<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>VKSMM</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script>
    function get_size(obj) {
        var h = window.innerHeight;
        var w = window.innerWidth;
        var main_link = obj.getAttribute("href");
        obj.href = main_link + "&h=" + h + "&w=" + w;
    }
</script>
</head>

<body>
<div id="page">
	<div id="acc-panel">
        <div id="userblock">
            {% if avatar %}
                <img id="ava" src="{{ avatar }}"/>
            {% else %}
                <img id="ava" src="{{ url_for('static', filename='none.png') }}"/>
            {% endif %}
            <span>{{ user_name }}</span>
        </div>
        <div id="gl">
            {% if group_list %}
                {% for group in group_list %}
                <a href="{{url_for('index_page')}}?user_id={{ user_id }}&access_token={{ access_token }}&group_id={{ group[0] }}" id="main_link" onclick="get_size(this);">
                    <div class="gblock">
                        <img class="gblock-pic" src="{{ group[2] }}" alt="group logo"/>
                        <div class="gtitle">{{ group[1] }}</div>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                У вас нет групп :(
            {% endif %}
        </div>
    </div>
    <div id="group-panel">
    	<div id="group-head">
            <div id="g-info">
                <img id="logo" src="{{ current_group_picture }}" alt="gropu logo"/>
                <span>{{ current_group_name }}</span>
                <p>Всего постов: {{ count_postinfo }}</p>
            </div>
            <div id="sort">
                Сортировать по:
                {% if sort_type == "like" %}
                <a href="#"><span class="slike active-sort"></span></a>
                <a href="{{ base_link }}repo" onclick="get_size(this);"><span class="srep"></span></a>
                <a href="{{ base_link }}comm" onclick="get_size(this);"><span class="scom"></span></a>
                {% elif sort_type == "repo" %}
                <a href="{{ base_link }}like" onclick="get_size(this);"><span class="slike"></span></a>
                <a href="#"><span class="srep active-sort"></span></a>
                <a href="{{ base_link }}comm" onclick="get_size(this);"><span class="scom"></span></a>
                {% elif sort_type == "comm" %}
                <a href="{{ base_link }}like" onclick="get_size(this);"><span class="slike"></span></a>
                <a href="{{ base_link }}repo" onclick="get_size(this);"><span class="srep"></span></a>
                <a href="#"><span class="scom active-sort"></span></a>
                {% endif %}
            </div>
        </div>
        <div id="group-content">
            {% if posts %}
                <div id="group-table">
                {% for post in posts %}
                <a href="{{ post[3] }}" target="_blank">
                    <div class="ablock"  title="Открыть в ВК">
                        <div style="height: 50px; overflow: hidden; padding: 0">
                        {% if post[4] == 'None' %}
                        <img class="ablock-pic" src="{{ url_for('static', filename='none.png') }}"/>
                        {% else %}
                        <img class="ablock-pic" src="{{ post[4] }}"/>
                        {% endif %}
                        </div>
                        <div class="likes"><span class="likes-icon"></span>{{ post[0] }}</div>
                        <div class="rep"><span class="rep-icon"></span>{{ post[1] }}</div>
                        <div class="coms"><span class="coms-icon"></span>{{ post[2] }}</div>
                    </div></a>
                {% endfor %}
                </div>
            {% else %}
                <div id="recommend">
                    <div id="rec-info">
                        Эта группа ещё в очереди.
                        <br>
                        Рекомендуем отвлечься на следующие группы:
                    </div>
                    <div id="rec-gl">
                    {% for group in recomendation %}
                    <a href="{{url_for('index_page')}}?user_id={{ user_id }}&access_token={{ access_token }}&group_id={{ group[0] }}" id="main_link" onclick="get_size(this);">
                        <div class="gblock-dark">
                            <img class="gblock-pic" src="{{ group[2] }}" alt="group logo"/>
                            <div class="gtitle-dark">{{ group[1] }}</div>
                        </div>
                    </a>
                    {% endfor %}
                    </div>
                    <div id="rec-stat">Всего групп в системе: {{ stats['totalgroups'] }}</div>
                </div>
            {% endif %}
  </div>
    <div id="nav-bottom">
        {% if stats %}
        <div id="progress">
            Сейчас сканируется: <a href="{{url_for('index_page')}}?user_id={{ user_id }}&access_token={{ access_token }}&group_id={{ stats['group_id'] }}" onclick="get_size(this);">{{ stats['name'] }}</a>, осталось {{ stats['count'] }} постов</div>
        {% endif %}
        {% if offset_next %}
        <a href="{{ offset_next }}" class="button" onclick="get_size(this);">Вперёд</a>
        {% endif %}
        {% if offset_prev %}
        <a href="{{ offset_prev }}" class="button button-disabled" onclick="get_size(this);">Назад</a>
        {% endif %}
    </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
     (w[c] = w[c] || []).push(function() {
                              try {
                              w.yaCounter27980823 = new Ya.Metrika({id:27980823,
                                                                   webvisor:true,
                                                                   clickmap:true,
                                                                   trackLinks:true,
                                                                   accurateTrackBounce:true,
                                                                   ut:"noindex"});
                              } catch(e) { }
                              });
     
     var n = d.getElementsByTagName("script")[0],
     s = d.createElement("script"),
     f = function () { n.parentNode.insertBefore(s, n); };
     s.type = "text/javascript";
     s.async = true;
     s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
     
     if (w.opera == "[object Opera]") {
     d.addEventListener("DOMContentLoaded", f, false);
     } else { f(); }
     })(document, window, "yandex_metrika_callbacks");
    </script>
<noscript><div><img src="//mc.yandex.ru/watch/27980823?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
