{% extends "layout.html" %}
{% block script %}
<script>
    function get_size(obj) {
        var h = window.innerHeight;
        var w = window.innerWidth;
        var main_link = obj.getAttribute("href");
        obj.href = main_link + "?h=" + h + "&w=" + w;
    }
</script>
{% endblock %}
{% block body %}
<body style="background-color: #6383a8">
	<div id="land">
        <div id="slideshow">
            <div>
                <img src="{{ url_for('static', filename='adv_image1.png') }}" class="slide-1"/>
            </div>
        </div>
        
		<div id="serv-info">
			<div>
                    <h3>VKSMM</h3>
                    <p>Это сервис для просмотра популярного материала из ваших групп</p>
                    <p>Выборка по лайкам, репостам, комментариям</p>

                    <p>Лучшие посты всегда под рукой</p>

                    <p>Данные обновляются автоматически</p>

                    <p>Сервис не хранит персональную информацию: вся предоставляемая информация берется из открытых источников посредством API ВКонтакте и принадлежит её владельцам и ВКонтакте</p>
            </div>
                <a id="main_link" class="button auth-button" href="{{ link }}" onclick="get_size(this);">Войти через ВК</a>
                
		</div>
    </div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
     (w[c] = w[c] || []).push(function() {
                              try {
                              w.yaCounter27980823 = new Ya.Metrika({id:27980823,
                                                                   webvisor:true,
                                                                   clickmap:true,
                                                                   trackLinks:true,
                                                                   accurateTrackBounce:true,
                                                                   ut:"noindex"});
                              } catch(e) { }
                              });
     
     var n = d.getElementsByTagName("script")[0],
     s = d.createElement("script"),
     f = function () { n.parentNode.insertBefore(s, n); };
     s.type = "text/javascript";
     s.async = true;
     s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
     
     if (w.opera == "[object Opera]") {
     d.addEventListener("DOMContentLoaded", f, false);
     } else { f(); }
     })(document, window, "yandex_metrika_callbacks");
    </script>
<noscript><div><img src="//mc.yandex.ru/watch/27980823?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
{% endblock %}
