<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="Сервис для просмотра лучших материалов из ваших групп Вконтаке">
<meta name="keywords" content="seo, smm, vk, vkontakte, вк, вконтакте, смм, продвижение вконтакте, продвижение в контакте, сервис, социальный сервис, popular, лучшие посты, лучшие группы, лайк, модное, lacane, rezoh, dequone">
<title>VKSMM</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% block script %}{% endblock %}
</head>
{% block body %}{% endblock %}
</html>
